<div class="jumbotron banner text-center">
  <h1 class="jumbo_name">Keep Austin Weird</h1>
  <p>A look into the historic and modern landmarks of Austin as well as its local cuisine, breathtaking murals, and fun activities.</p>
</div>