{% extends '_templates/base.njk' %}

{% block content %}
<article class="container">
  <h2 class="page_topic">Landmarks in Austin</h2>
  <p class="intro">Austin, Texas boasts many unique and strange attractions, both historic and modern. </p>
 
  <div class="row">
  {% for attraction in austin.landmarks %}
  <div class="col-sm-6 col-lg-5">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">{{ attraction.name }}</h5>
        <img src="../img/{{ attraction.image }}" class="img-fluid img-thumbnail" alt="Responsive Image">
        <p class="card-text">{{ attraction.location }}</p>
        <p class="card-text"> {{attraction.activities }} </p>
        <a href="{{ relative_path }}attractions/{{ attraction.slug}}.html" target="_blank">More Information</a>
        
      </div>
    </div>
  </div>
  {% endfor %}
  </div>

  
  <div class="container">
    <div class="table-responsive table-bordered">
    <table class="table table-hover table-striped">
    <thead class="thead-dark">
       <tr>
         <th>Activity</th>
         <th>Date and Time</th>
         <th>Address</th>
         <th>Source</th>
       </tr>
     </thead>
   {% for festivities in austin.activities %}
   <tbody>
     <tr>
        <td class="table-title">{{ festivities.activity }}</h5>
        <td class="table-text">{{ festivities.date_time }}</td>
        <td class="table-text"> {{ festivities.address }} </td>
        <td> <a href="{{ festivities.url }}" target="_blank">More Information</a></td>
      </tr>
   </tbody>
      </div>
    </div>
  </div>
  {% endfor %}
</table>
</div>
 </article>
{% endblock %}