

.rest_item{
    border: 4px solid orangered;
    background-color: lightcoral;
    border-radius: 12px;
    font-family: Lobster, Impact, Haettenschweiler, 'Arial Narrow Bold';
    font-size: 1.5rem;
  }

  .intro{
      margin:auto;
      font-family: Lobster, Impact, Haettenschweiler, 'Arial Narrow Bold';
      font-size: 1.2rem;
      width: 50%;
      padding: 10px;
  }